:root {
    --base-color: rgb(255, 102, 0);
    --main-color: white;
    --accent-color:rgb(32, 178, 170);
    --sub-color: rgba(35, 34, 68, 0.767);
}

*{
    padding: 0;
    margin: 0;
    font-family: "Hiragino Sans","Hiragino Kaku Gothic Pro",meiryo,"Helvetica Neue",roboto,droid sans,arial,sans-serif;;
}

.btn{
    cursor: pointer;
}

a{
    text-decoration: none;
}

body,html{
    background-color: var(--base-color);
}

.wrapper{
    padding: 10px 5%;
}

/* form */
.form{
    width: 95%;
    margin: 50px auto 80px auto;
}

.form input,.form textarea{
    display: block;
    width: calc(100% - 10px);
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey;
    border: solid 0px;
}

.form label{
    display: inline-block;
}

.btn{
    display: block;
    width: 150px;
    background-color: var(--accent-color);
    color: var(--main-color);
    font-size: larger;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px grey;
    margin: 10px auto;
    text-align: center;
}

.form label{
    color: var(--main-color)
}

.form p{
    text-align: center;
}

/* リスト */

.list{
    width: 95%;
    margin: 20px auto 50px auto;
}

.list li{
    list-style: none;
    background-color: var(--main-color);
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px 10px 30px 10px;
    box-shadow: 1px 1px 2px grey;
    position: relative; 
}

.title-header h1{
    color: var(--main-color);
}

.title-header a{
    font-size: 32px;
    padding-left: 15px;
    color: var(--accent-color);
}
  
.title-header #username a,.title-header #username{
    font-size: 15px;
    color: var(--main-color);
    padding-left: 3px;
}
  
.title-header #username a{
    font-weight: bolder;
}

.list .name{
    font-size: 21px;
}

.list .btn_area{
    float: right;
    color: var(--sub-color);
}
.list .btn_area a{
    padding: 0 3px;
    font-size: 16px;
}


.list.small li{
    padding: 10px 10px 10px 10px;
    height: 50px;
}
  
.list.small{
    margin-bottom: 50px;
}
  
.list.small li .description{
    font-size: 10px;
}

.ff-list{
    display: grid;
    grid-template-columns: 20% 80%;
}

/* アイコン */
.trim {
    position:relative;
    overflow: hidden;
    width:80%;
    margin: 0 auto;
    border-radius:50%;
  }
  
  .trim:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
  .trim img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    height:100%;
  }

.description {
    word-break: break-all;
}

/* メニュー固定 */
#menu{
    width: 100%;
    height: 50px;
    background-color: var(--main-color);
    position: fixed;
    bottom: 0;
    z-index:999;
    border-top: lightgray solid 1px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#menu a,#menu a:visited{
    color: var(--sub-color);
}

#menu li{
    text-align: center;
    display: block;
    font-size: 30px;
}

/* モーダル */
.modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: table;
    transition: opacity 0.3s ease;
}
  
.modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}
  
.modal-container {
    width: 270px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
    transition: all 0.3s ease;
    font-family: Helvetica, Arial, sans-serif;
}
  
.modal-header h3 {
    margin-top: 0;
    color: #42b983;
}
  
.modal-default-button {
    float: right;
}
  
  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */
  
.modal-enter {
    opacity: 0;
}
  
.modal-leave-active {
    opacity: 0;
}
  
.modal-enter .modal-container,
.modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.modal-default-button{
    color: var(--accent-color);
    font-size: 27px;
}

#mypage-menu{
    grid-row: 1;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    color: var(--sub-color);
}

#mypage-menu-signin{
    grid-column: 4 / 5;
}

@media (min-width: 768px) {
.wrapper{
    width: 30%;
    margin: 0 auto;
}

.header-menu{
    width: 30%;
    margin: 0 auto;
}

.header-menu #menu{
    width: 30%;
}
}